.env
.gitignore
docker-compose.yml
Dockerfile
Makefile
README.md

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
.phpunit.cache/
###< phpunit/phpunit ###
